body{
  font-family: Helvetica, sans-serif;
}

body.live-caption-popup{
  width: 300px;
  height: 400px;
  margin: 0;
}

img{
  display: block;
  margin: 20px auto;
  width: 30%;
}

h2.live-caption-title{
  color: rgb(52, 51, 53);
  text-align: center;
  font-weight: 400;
  margin: 0;
}

.content-container, header{
  display: block;
  margin: 0px auto;
  width: 75%;
  text-align: center;
}

header{
  margin-bottom: 2em;
}

header p{
  color: rgb(115, 116, 118);
  font-size: 14px;
  line-height: 1.5;
}

.buttons-container{
  display: flex;
  width: 100%;
  margin: 0px auto;
  align-items: stretch;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
}

button{
  display: inline-block;
  padding: 20px;
  border: none;
  box-shadow: none;
  background: rgb(244, 244, 245);
  color: white;
  font-size: 14px;
  cursor: pointer;
  width: 50%;
  text-align: center;
}

.activation-button{
  font-weight: 600;
  color:#035a03;
  border-right: 1px solid white;
}

.deactivation-button{
  font-weight: 600;
  color: #920101;
}

p.error-message:empty{
  display: none;
}

p.error-message{
  color:#fb2d2d;
  font-style: italic;
  font-size: 11px;
  margin-top: 1em;
}

label{
  color: rgb(52, 51, 53);
  display: block;
  margin-bottom: 1em;
}
